/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color:black;
}
body.lock {
    overflow: hidden;
}

.wrapper {   
    min-height: 100%; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
   
}
.container {
    max-width: 1146px;
    /* padding: 0px 15px; */
    margin: 0px auto;
    box-sizing: content-box;
}
button {
    background-color: rgba(33, 47, 181, 61%);
    padding: 5px 8px;
    color: #fff;
}
/* ------шапка---------------- */
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0; 
    background: #E3EBFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header__container {
    display: flex;    
    min-height: 80px;
    align-items: center;
    justify-content: space-between;    
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: mediumblue;
}
.header__logo img{
    width: 100px;
}
.menu {
    padding: 5px 0;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu__item:not(:last-child) {
     margin: 0px 21px 0px 0px; 
}

.menu__link {
    color:#000;
    line-height: 24px;
}
@media (max-width: 1190px) {
    .header__container {
        margin: 0px 20px 0px 20px;
    }
} 
@media (max-width: 476px) {
    .header__menu {
        margin: 0px 0px 0px 50px;
    }       
}
@media (max-width: 434px) {
    .menu__item:not(:last-child) {
        margin: 0px 0px 0px 0px; 
   }
    
}

/* ------карта курса---- */
.course-info {
    margin-top: 115px;
    color: #000;
}
.course-info__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.course-info__text {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 24px;
    margin-right: 60px;

}

@media (max-width: 1190px) {
    .course-info__container {
        margin: 0px 20px 0px 20px;
    }
    .course-info__text {
        margin-right: 30px;
    
    }
} 
@media (max-width: 920px) {
    .course-info__container {
        flex-wrap: wrap-reverse;
    }
    .course-info__text {
        margin-right: 30px;
    
    }
} 
.course-info__paragraph {
    margin-bottom: 35px;    
}
.course-info__paragraph ol {
    padding: 0px 0px 0px 30px;
}
.course-info__paragraph li {
    list-style: decimal;    
}
.course-info__paragraph h2{
    margin-bottom: 15px;
    font-weight: bold;
}
.course-info__line {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 38%);
    padding-bottom: 4px;
}
.course-info__line img {
   width: 20px;
   height: 10px;
}
.course-info__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.course-interaction__button{
    font-size: 18px;
    height: 37px;
    width: 268px;
}

.course-interaction__button_round{
    border-radius: 5px;
}
.course-interaction__link {
    margin-top: 8px;
    color: rgba(0, 0, 0, 74%);
}
@media (max-width: 515px) {
    .course-interaction__button{
            font-size: 14px;
            height: 30px;
            width: 200px;
        }
    .course-interaction__link {
            font-size: 12px;
        }
}
/* -----карта курса----------- */
.course-card {
    margin-bottom: 30px;;
    color: rgb(0, 0, 0);
    background: rgba(103, 143, 248, 25%);
    border-radius: 20px;
    width: 480px;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.course-card__title {
    font-size: 24px;
    margin-bottom: 35px;
}
.course-card__photo {
    width: 100%;
}

.course-card__photo img {
    width: 480px;
    height: 310px;
    border-radius: 0px 0px 20px 20px;
}
@media (max-width: 515px) {
    .course-card {
        width: 280px;
        height: 255px;
        
    }    
    .course-card__title {
        font-size: 16px;
        margin-bottom: 25px;
    }
    .course-card__photo {
        width: 100%;
    }    
    .course-card__photo img {
        width: 280px;
        height: 175px;
        
    }
} 
/* ------Pop-up---------------- */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease 0s;
     
}
.popup.open {    
    opacity: 1;   
    visibility: visible;
}
.popup.open .popup__content{
    transform: translate(0px, 0%); 
    opacity: 1;   
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 1 1 100%;  */
    margin: 0px 20px 0px 20px;
    padding: 30px 10px;
    transition: all 0.8s ease 0s; 
}
.popup__content {
    width: 650px;  
    height: 400px; 
    background-color: rgb(249, 249, 249);
    color: #000;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    transition: all 1s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%); 

}
.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.popup__title {
    font-size: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input {
    height: 40px; 
    width: 400px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 20px;
}
.form__label {
    max-height: 40px; 
    max-width: 200px;
    padding: 0px 0px 10px 10px;
    font-size: 18px;
}
.form__button {
    width: 180px; 
    height: 40px;  
    font-size: 20px;
    border-radius: 15px;
}
@media (max-width: 630px) {
    .popup__content {
        width: 400px;  
        height: 300px; 
    }
    .popup__title {
        font-size: 30px;
    }

    .form__input {
        height: 30px; 
        width: 280px;
   }
   .form__label {
    font-size: 14px;
}
    .form__button {
        width: 140px; 
        height: 30px;  
        font-size: 18px;
    }
}

/* ------подвал---------------- */
.footer {
    height: 90px;
    background: #E3EBFF ;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.footer__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__menu {

}
.footer__right {
    height: 100%;
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer__icons {
    display: flex;
    justify-content: space-between;
}
.icon__item {
   margin-left: 15px;
}
.icon__item img {
    height: 35px;
    width: 35px;
}
.footer__tensor {
    margin-left: 15px;
}
