/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color:black;
}
body.lock {
    overflow: hidden;
}

.wrapper {   
    min-height: 100%; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
   
}
.container {
    max-width: 1146px;
    margin: 0px auto;
    box-sizing: content-box;
}
button {
    background-color: rgba(33, 47, 181, 61%);
    padding: 5px 8px;
    color: #fff;
}
/* ------шапка---------------- */
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0; 
    background: #E3EBFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header__container {
    display: flex;    
    min-height: 80px;
    align-items: center;
    justify-content: space-between;    
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: mediumblue;
}
.header__logo img{
    width: 100px;
}
.menu {
    padding: 5px 0;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu__item:not(:last-child) {
     margin: 0px 21px 0px 0px; 
}

.menu__link {
    color:#000;
    line-height: 24px;
}

@media (max-width: 1190px) {
    .header__container {
        margin: 0px 20px 0px 20px;
    }
} 
@media (max-width: 476px) {
    .header__menu {
        margin: 0px 0px 0px 50px;
    }       
}
@media (max-width: 434px) {
    .menu__item:not(:last-child) {
        margin: 0px 0px 0px 0px; 
   }
    
}
/* ------page---------------- */
.page {
    flex: 1 1 auto; 
}
/* advantages */
.advantages-school {
    color: #fff;
    height: 600px;
    background: url('../img/Тензор.jpg') 0 0/100% 100% no-repeat;
}
.advantages-school__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.advantages-school__container {
    height: 100%;
    display: flex;
    justify-content: end;   
}

.card__advantages {
    margin-top: 115px;
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(75, 66, 66, 81%);
    /* opacity: 90%; */
    padding: 16px 0px;
    border-radius: 20px;
}
.card__list {
    margin-bottom: 30px;
}
.card__title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}
.list__item {
    list-style: disc;
    margin-bottom: 16px;
    font-size: 21px;
}
@media (max-width: 1190px) {
    .advantages-school__container {
        margin: 0px 20px 0px 20px;
    }
} 
@media (max-width: 630px) {
    .advantages-school__container {
        justify-content: center;
    }
    .card__advantages {
        width: 420px;
    }
    .card__title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .list__item {
        list-style: none;
        margin-bottom: 8px;
        font-size: 16px;
    }
    .advantages-school {
        height: 400px;
    }
} 
@media (max-width: 435px) {
    .card__advantages {
        width: 280px;
    }
    .card__title {
        margin-top: 15px;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .list__item {
        margin-bottom: 5px;
        font-size: 10px;
    }
    .advantages-school {
        height: 340px;
    }
} 
/* teachers */
.teachers {
    margin-bottom: 40px;   
}
.teachers__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teachers__title {
    font-size: 36px;
    margin: 40px 0px 30px 0px;
    text-align: center;
    
}
.teachers__cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

.teacher-card {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 430px;
    width: 250px;    
    border-radius: 20px;
    background: rgba(103, 143, 248, 25%);
}
@media (max-width: 1190px) {
    .teacher-card {
        margin: 0px 20px 20px 20px;
    }
} 
@media (max-width: 600px) {
    .teachers__title {
        font-size: 28px;
        margin: 40px 0px 30px 0px;
        
    }
} 
.teacher-card__photo {
    width: 100%;    
    
}
.teacher-card__photo img {
    max-width: 100%; 
    height: 250px;
    border-radius: 20px 20px 0px 0px;
}
.teacher-card__name {
    margin: 20px 0px 20px 0px;
    font-size: 24px;
}
.teacher-card__info-post {
    
}
.teacher-card__info-experience {
    margin-top: 16px;
}
/* courses */
.courses__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.courses__title {
    font-size: 36px;
    margin: 40px 0px 30px 0px;
}
.courses__content {
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     flex-wrap: wrap; 
}

.course-card {
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    background: rgba(103, 143, 248, 25%);
    border-radius: 20px;
    width: 480px;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.course-card__title {
    font-size: 24px;
    margin-bottom: 35px;
    text-align: center;
}
.course-card__photo {
    width: 100%;
}

.course-card__photo img {
    width: 480px;
    height: 310px;
    border-radius: 0px 0px 20px 20px;
}
@media (max-width: 999px) {
    .course-card {
        margin-bottom: 20px;
        width: 350px;
        height: 320px;        
    }    
    .course-card__title {
        font-size: 24px;
        margin-bottom: 25px;
    }   
    .course-card__photo img {
        width: 350px;
        height: 240px;
    }
} 
@media (max-width: 600px) {
    .courses__title {
        font-size: 28px;
        margin: 40px 0px 30px 0px;
        
    }
} 
/* ------подвал---------------- */
.footer {
    height: 90px;
    background: #E3EBFF ;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.footer__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__menu {

}
.footer__right {
    height: 100%;
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer__icons {
    display: flex;
    justify-content: space-between;
}
.icon__item {
   margin-left: 15px;
}
.icon__item img {
    height: 35px;
    width: 35px;
}
.footer__tensor {
    margin-left: 15px;
}
